body {
	background: url('../imgs/index_background.jpg') no-repeat center center fixed;
	background-size: cover;
	background-color: black;
}

.center {
	position: absolute;
	margin:0px auto;
	left:0;
	right:0;
}

.btn-group {
	top: 25px;
	left: 18px;
}

.divNgView {
	top: 110px;
}