<h1 class="h1 page-header text-center"> {{title}} </h1>
<div class="row">
    <div class=" input-group">
	    <span class="input-group-addon" id="basic-addon1"> User Name </span>
	    <input type="text" class="form-control" placeholder="User Name" aria-describedby="basic-addon1" ng-model="usuario.userName">
	</div>
	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1"> Senha </span>
	    <input type="text" class="form-control" placeholder="Senha" aria-describedby="basic-addon1" ng-model="usuario.senha">
	</div>
</div>
<div class="row">
    <button type="button" class="btn btn-primary btnAcessar" ng-click="addUsuario()">Acessar!</button>
</div>