<!DOCTYPE html>
<html ng-app="myApp">
<head>
	
	<title>Index</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/index.css">

	<link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="alternate" href="../libs/bootstrap/dist/css/bootstrap-theme.min.css">
	<script src="../libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

	<script type="text/javascript" src="../libs/angular/angular.js"></script>
	<script type="text/javascript" src="../libs/angular/index.js"></script>
	<script type="text/javascript" src="../libs/jquery/dist/jquery.js"></script>
	
	<script type="text/javascript" src="../libs/font-awesome/css/font-awesome.min.css"></script>


	<script type="text/javascript">
		


		// seleciona um modulo e implementa uma controller
		var app = angular.module('myApp', []);
		app.controller('usuarioCtl', ['$scope', function($scope) {

			$scope.title = "Controlador de Patio";

			$scope.usuario = [
				{userName: "adm", senha: "adm"},
				{userName: "user", senha: "user"}
			];

			$scope.addUsuario = function (usuario) {
				$scope.usuario.push(angular.copy(usuario));
				// deleta o objeto 'usuario' da memoria
				delete $scope.usuario;
				console.log('Usuario adicionado com sucesso.');
			};

		}]);

	</script>

</head>
<body>
	<div ng-controller="usuarioCtl" class="container">

		<header id="header">
			<h1 class="h1 page-header text-center"> {{title}} </h1>
		</header>

		<div class="input-group">
  			<span class="input-group-addon" id="basic-addon1">User Name</span>
  			<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" ng-model="usuario.userName">	
		</div>
 
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Senha</span>
  			<input type="text" class="form-control" placeholder="Senha" aria-describedby="basic-addon1" ng-model="usuario.senha">
		</div>

		<button type="button" class="btn btn-primary btnAcessar" ng-click="addUsuario()">Acessar!</button>

	</div>	

	<script  type="text/javascript">
		console.log('Teste js from index.');
	</script>
	
</body>
</html>